<a href="https://colab.research.google.com/github/pritish-tripathy-aiml/AI-ML-Repository/blob/main/List_Datatype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**List Datatype in Python**

In [ ]:
# Introduction to Lists
# List is an Ordered Collection of Objects and it can have duplicate Objects
myList = ['john','smith','david','mark','eric','smith']     # All are String Objects
print(myList)
print(myList[2])
print(myList[-2])

# Another way to create a List
myList2 = list((1,2,3,4,5))
print(myList2)
print(myList2[1])
print(myList2[-1])

# List is Heterogeneous means it allows different kinds of Data
myList3 = ['marcus',16,1.23,True,'hello',3+5j]
print(myList3)
print(myList3[2])
print(myList3[-1])

# List is an Ordered Collection of Heterogeneous Objects that can hold Duplicates

['john', 'smith', 'david', 'mark', 'eric', 'smith']
david
eric
[1, 2, 3, 4, 5]
2
5
['marcus', 16, 1.23, True, 'hello', (3+5j)]
1.23
(3+5j)

In [ ]:
# List is Mutable, means its value can be Changed
myLi = [10,23,55,12,89,3]
print("Length:",len(myLi))
print(myLi)
myLi[0] = 30
myLi[4] = 99
myLi[-1] = 'hello'
print(myLi)

# We can also change number of Objects in a List
myLi.append('hi')
myLi.append('bye')
myLi.append(111)
print(myLi)
print("Length:",len(myLi))
# Changing the Size of a List is Costly Process

Length: 6
[10, 23, 55, 12, 89, 3]
[30, 23, 55, 12, 99, 'hello']
[30, 23, 55, 12, 99, 'hello', 'hi', 'bye', 111]
Length: 9

In [ ]:
# Operators on List
list1 = [1,2,3,4,5,6,7,8,9,10]

# Index Operator []
print(list1)
print(list1[7])
print(list1[-5])
list1[3] = 99       # Modifying the Value
list1[4] = 88
print(list1)

# Slice Operator [:] -> [start:end:steps]
print(list1[:])     # Print all the Elements
print(list1[3:])    # It will start from Index 3 to Last Element
print(list1[3:8])    # It will start from Index 3 to One before Index 8
print(list1[0:10:2])    # It will start from Index 0 to One before Index 10 and skip One Element
print(list1[-1:-11:-1])    # it will print from Reverse
print(list1[::-1])    # it will print from Reverse

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
8
6
[1, 2, 3, 99, 88, 6, 7, 8, 9, 10]
[1, 2, 3, 99, 88, 6, 7, 8, 9, 10]
[99, 88, 6, 7, 8, 9, 10]
[99, 88, 6, 7, 8]
[1, 3, 88, 7, 9]
[10, 9, 8, 7, 6, 88, 99, 3, 2, 1]
[10, 9, 8, 7, 6, 88, 99, 3, 2, 1]

In [ ]:
# We can modify contents of List using Slice
list2 = [1,2,3,4,5,6,7,8,9,10]
print(list2)
list2[0:3]=[10,20,30]
print(list2)

list2[6:9] = [99]     # It will replace with One Element Only
print(list2)

list2[0:3] = [11,22,33,44,55,66,77]     # It will replace multiple Elements
print(list2)

list2[::2] = [11,22,33,44,55,66]
print(list2)      # If you are mentiong steps you have to replace according to the possible number of values

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 20, 30, 4, 5, 6, 7, 8, 9, 10]
[10, 20, 30, 4, 5, 6, 99, 10]
[11, 22, 33, 44, 55, 66, 77, 4, 5, 6, 99, 10]
[11, 22, 22, 44, 33, 66, 44, 4, 55, 6, 66, 10]

In [8]:
# List Concatenation and in not in
# Combining Two List using Concatenation(+)
list1 = [1,2,3]
list2 = [8, 9, 10]
list3 = list1 + list2     # Creates a new List
print(list3)

list4 = list2 + [11,22,33]     # Creates a new List
print(list4)

# Adding List using extend
list1.extend([4, 5, 6])   # This will modify our List
print(list1)

# Repeatation Operator(*)
list5 = list1 * 5     # Creates a new List
print(list5)

# in and not in
if 3 in list1:
  print('Found')
else:
  print('Not Found')

# not in
print(5 in list1)
print(5 not in list1)

[1, 2, 3, 8, 9, 10]
[8, 9, 10, 11, 22, 33]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]
Found
True
False

In [17]:
# Visiting Elements in a List(iterations)
'''
Visiting all the Elements in a List is known as Iterating or Traversing a List
'''
list1 = [5,6,7,8,9]
# using for loop
for x in list1:
  print(x,end=' ')

# using for loop withing Range
for i in range(2,len(list1)):
  print(list1[i])
print("--")
for i in range(len(list1)):
  print(list1[i])

print("--")
# Print List in Reverse
for i in range(len(list1)-1,-1,-1):
  print(i)

5 6 7 8 9 7
8
9
--
5
6
7
8
9
--
4
3
2
1
0